@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br/>
    <h1 class="display-3">Welcome to CRT-terboxd!</h1>
    <br />
    <p class="display-6 small">Start logging your favorite actors and movies today, and see what the internet is saying about them!</p>
    <hr />
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>